.btn-reset {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.modal-subs__hide {
	display: none;
}

.modal-subs__show {
	display: block;
}

.modal-subs {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-subs-wrapper {
	max-width: 500px;
	margin: 70px auto;
}

.modal-subs-content {
	position: relative;
	width: 100%;
	padding: 40px;
	background-color: #0C111B;
	border: 2px solid #fff;
	border-radius: 20px;
	max-height: 80vh;
	overflow-y: auto
}

.modal-subs-content:not(:last-child) {
	margin-bottom: 30px;
}

.modal-subs__close {
	position: absolute;
	top: 8px;
	right: 14px;
	padding: 5px;
	width: 36px;
	height: 36px;
	text-align: center;
	font-size: 38px;
	color: #fff;
	opacity: 0.8;
	font-weight: 700;
	border: none;
	background-color: transparent;
	cursor: pointer
}

.modal-subs__title {
	margin-bottom: 30px;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.modal-subs__mail {
	display: block;
	margin: 20px auto;
	padding: 0 20px;
	width: 300px;
	height: 50px;
	background-color: #0C111B;
	border: 1px solid #fff;
	border-radius: 20px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	outline: none;
}

.modal-subs__mail::placeholder {
	color: #fff;
}

.modal-subs__mail:focus,
.modal-subs__btn:focus,
.modal-subs__close:focus {
	outline: 2px solid #fff;
}

.modal-subs__btn {
	display: block;
	margin: 0 auto;
	padding: 0 20px;
	width: 342px;
	height: 50px;
	font-size: 18px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 20px;
	background-color: #0C111B;
	color: #fff;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.modal-subs__btn:hover {
	background-color: #fff;
	color: #0C111B;
}

.modal-subs__error {
	margin-top: 25px;
	text-align: center;
	font-size: 12px;
	color: #fff;
}

@media (max-width: 767px) {
	.modal-subs-wrapper {
		max-width: 420px;
		margin: 50px auto;
	}
}

@media (max-width: 484px) {
	.modal-subs-wrapper {
		max-width: 300px;
		margin: 50px 26px;
	}

	.modal-subs-content {
		padding: 25px;
	}

	.modal-subs-content:not(:last-child) {
		margin-bottom: 25px;
	}

	.modal-subs__close {
		top: 5px;
		right: 9px;
		font-size: 28px;
	}

	.modal-subs__title {
		margin-bottom: 20px;
		font-size: 16px;
	}

	.modal-subs__mail {
		margin: 14px auto;
		width: 238px;
		height: 40px;
		font-size: 16px;
	}

	.modal-subs__btn {
		width: 240px;
		height: 40px;
		font-size: 16px;
	}
}

@media (max-width: 376px) {
	.modal-subs-wrapper {
		margin: 50px 10px;
	}

	.modal-subs-content {
		padding: 15px;
	}

	.modal-subs__close {
		top: 0;
		font-size: 35px;
	}

	.modal-subs__title {
		margin-top: 25px;
	}
}