@import "./style.css";
@import "./favorite.css";


.content-lk {
	padding: 0 30px;
}
.favorites-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h4 {
  color: aliceblue;
  font-size: 30px;
}
