/* модалка абсолютна относительно формы поиска */
.search-form {
	position: relative;
}

/* ======================== */
.search-modal__hide {
	display: none;
}

.search-modal__show {
	display: block;
}

.search-modal {
	position: absolute;
	top: 80px;
	left: 27%;
	z-index: 1000;
	width: 100%;
}

.search-modal__wrapper {
	max-width: 300px;
	background-color: #fff;
	max-height: calc(100vh - 200px);
	overflow: auto;
}

.search-modal__title,
.search-modal-film__error {
	margin: 0;
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
	color: rgba(12, 17, 27, 0.5);
}

.search-modal__content {
	padding: 12px;
}

.search-modal-film {
	display: flex;
	gap: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-right: 10px;
	min-height: 70px;
}

.search-modal-film__img {
	display: block;
	width: 70px;
	height: 70px;
}

.search-modal-film__img img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.search-modal-film__descr {
	display: flex;
	flex-direction: column;
}

.search-modal-film__title {
	font-weight: 700;
	font-size: 12px;
	color: #0C111B;
}

.fade {
	animation-name: fade;
	animation-duration: 0.4s;
}

@keyframes fade {
	from {
		opacity: 0.1;
	}

	to {
		opacity: 1;
	}
}

@media (max-width: 480px) {
	.search-modal {
		left: 0;
	}
}